@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="/Home/CreateUser">
    <div class="mb-3">
        <label for="exampleInput" class="form-label">Your Name</label>
        <input type="text" class="form-control" id="exampleInput" name="Name" required>
        <div id="exampleInput" class="form-text">data will store in cookies for 1 day</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>